# yahoofinancials

In [105]:
# !pip install yahoofinancials

In [106]:
# from yahoofinancials import 
import yfinance as yf

## Single-ticker Retrieval

In [107]:
# aapl = YahooFinancials('AAPL')
aapl = yf.Ticker("AAPL")

In [108]:
aapl.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '(408) 996-1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts, as well as advertising services include third-party licensing arrangements and its own advertising platforms. In addition, the company offers various subscription-based services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 164000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Chief People Officer & Senior VP of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Michael  Fenger',
   'title': 'VP of Worldwide Sales',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 1,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1733011200,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 251.04,
 'open': 250.135,
 'dayLow': 249.79,
 'dayHigh': 252.34,
 'regularMarketPreviousClose': 251.04,
 'regularMarketOpen': 250.135,
 'regularMarketDayLow': 249.79,
 'regularMarketDayHigh': 252.34,
 'dividendRate': 1.0,
 'dividendYield': 0.004,
 'exDividendDate': 1731024000,
 'payoutRatio': 0.1612,
 'fiveYearAvgDividendYield': 0.62,
 'beta': 1.24,
 'trailingPE': 41.50329,
 'forwardPE': 30.358004,
 'volume': 3587417,
 'regularMarketVolume': 3587417,
 'averageVolume': 47390520,
 'averageVolume10days': 40451760,
 'averageDailyVolume10Day': 40451760,
 'bid': 252.22,
 'ask': 252.35,
 'bidSize': 200,
 'askSize': 200,
 'marketCap': 3814320766976,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 252.34,
 'priceToSalesTrailing12Months': 9.754423,
 'fiftyDayAverage': 232.8262,
 'twoHundredDayAverage': 209.31,
 'trailingAnnualDividendRate': 0.98,
 'trailingAnnualDividendYield': 0.0039037606,
 'currency': 'USD',
 'enterpriseValue': 3848564113408,
 'profitMargins': 0.23971,
 'floatShares': 15091184209,
 'sharesOutstanding': 15115799552,
 'sharesShort': 154104746,
 'sharesShortPriorMonth': 133040194,
 'sharesShortPreviousMonthDate': 1730332800,
 'dateShortInterest': 1732838400,
 'sharesPercentSharesOut': 0.010199999,
 'heldPercentInsiders': 0.02056,
 'heldPercentInstitutions': 0.61923003,
 'shortRatio': 3.41,
 'shortPercentOfFloat': 0.010199999,
 'impliedSharesOutstanding': 15332100096,
 'bookValue': 3.767,
 'priceToBook': 66.98699,
 'lastFiscalYearEnd': 1727481600,
 'nextFiscalYearEnd': 1759017600,
 'mostRecentQuarter': 1727481600,
 'earningsQuarterlyGrowth': -0.358,
 'netIncomeToCommon': 93736001536,
 'trailingEps': 6.08,
 'forwardEps': 8.31,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 9.842,
 'enterpriseToEbitda': 28.58,
 '52WeekChange': 0.2747029,
 'SandP52WeekChange': 0.2738273,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1731024000,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 252.34,
 'targetHighPrice': 300.0,
 'targetLowPrice': 184.0,
 'targetMeanPrice': 245.78214,
 'targetMedianPrice': 250.0,
 'recommendationMean': 1.89362,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 42,
 'totalCash': 65171001344,
 'totalCashPerShare': 4.311,
 'ebitda': 134660997120,
 'totalDebt': 119058997248,
 'quickRatio': 0.745,
 'currentRatio': 0.867,
 'totalRevenue': 391034994688,
 'debtToEquity': 209.059,
 'revenuePerShare': 25.485,
 'returnOnAssets': 0.21464,
 'returnOnEquity': 1.5741299,
 'freeCashflow': 110846001152,
 'operatingCashflow': 118254002176,
 'earningsGrowth': -0.341,
 'revenueGrowth': 0.061,
 'grossMargins': 0.46206,
 'ebitdaMargins': 0.34437,
 'operatingMargins': 0.31171,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.5938}

In [109]:
aapl.calendar

{'Dividend Date': datetime.date(2024, 11, 14),
 'Ex-Dividend Date': datetime.date(2024, 11, 8),
 'Earnings Date': [datetime.date(2025, 1, 31), datetime.date(2025, 2, 4)],
 'Earnings High': 2.5,
 'Earnings Low': 2.19,
 'Earnings Average': 2.35593,
 'Revenue High': 129887000000,
 'Revenue Low': 119563000000,
 'Revenue Average': 124410526290}

In [110]:
aapl.analyst_price_targets

{'current': 252.34,
 'low': 184.0,
 'high': 300.0,
 'mean': 245.78214,
 'median': 250.0}

In [111]:
aapl.quarterly_income_stmt

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...
Operating Revenue,94930000000.000000,85777000000.000000,90753000000.000000,119575000000.000000,89498000000.000000,NaN,NaN

In [112]:
aapl.history(period='1mo')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-18 00:00:00-05:00,225.250000,229.740005,225.169998,228.020004,44686000,0,0
...,...,...,...,...,...,...,...
2024-12-17 00:00:00-05:00,250.134995,252.339996,249.789993,252.339996,3587417,0,0

In [113]:
aapl.option_chain(aapl.options[0]).calls

,contractSymbol,lastTradeDate,strike,...,inTheMoney,contractSize,currency
0,AAPL241220C00005000,2024-12-10 20:58:31+00:00,5.000000,...,True,REGULAR,USD
...,...,...,...,...,...,...,...
80,AAPL241220C00350000,2024-12-16 17:07:10+00:00,350.000000,...,False,REGULAR,USD

### Historical Data Retrieval

In [114]:
hist = aapl.history(start='2020-01-01', end='2020-12-31', interval='1d')
print(hist)

                                Open       High        Low      Close  \
Date
2020-01-02 00:00:00-05:00  71.799873  72.856613  71.545387  72.796021
...                              ...        ...        ...        ...
2020-12-30 00:00:00-05:00 132.577600 132.978524 130.445868 130.758789

                              Volume  Dividends  Stock Splits
Date
2020-01-02 00:00:00-05:00  135480400          0             0
...                              ...        ...           ...
2020-12-30 00:00:00-05:00   96452100          0             0

[252 rows x 7 columns]

In [115]:
hist = aapl.history(start='2020-01-01', end='2020-12-31', interval='1wk')
print(hist)

                                Open       High        Low      Close  \
Date
2020-01-01 00:00:00-05:00  71.799866  72.929314  70.953995  72.320969
...                              ...        ...        ...        ...
2020-12-30 00:00:00-05:00 132.577572 132.978496 128.803051 129.751572

                              Volume  Dividends  Stock Splits
Date
2020-01-01 00:00:00-05:00  509062400          0             0
...                              ...        ...           ...
2020-12-30 00:00:00-05:00  195568700          0             0

[53 rows x 7 columns]

In [116]:
hist = aapl.history(start='2020-01-01', end='2020-12-31', interval='1mo')
print(hist)

                                Open       High        Low      Close  \
Date
2020-01-01 00:00:00-05:00  71.799873  79.461213  70.954002  75.016136
...                              ...        ...        ...        ...
2020-12-01 00:00:00-05:00 118.330240 135.716494 117.352385 129.751587

                               Volume  Dividends  Stock Splits
Date
2020-01-01 00:00:00-05:00  2934370400          0             0
...                               ...        ...           ...
2020-12-01 00:00:00-05:00  2322189600          0             0

[12 rows x 7 columns]

In [117]:
type(hist), type(hist.index)

(pandas.core.frame.DataFrame, pandas.core.indexes.datetimes.DatetimeIndex)

In [118]:
import pandas as pd
pd.set_option('display.max_columns', 7)

hist.index = hist.index.strftime('%Y-%m-%d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-01,71.799873,79.461213,70.954002,75.016136,2934370400,0,0
...,...,...,...,...,...,...,...
2020-12-01,118.330240,135.716494,117.352385,129.751587,2322189600,0,0

### Real-time Data Retrieval

In [119]:
# print(aapl.get_stock_price_data())
current_price = aapl.info['currentPrice']
current_price

252.34

### Financial Statements Retrieval

In [120]:
aapl.get_cashflow()

# ('quarterly', ['income', 'cash', 'balance'])
# print(statements)

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
FreeCashFlow,108807000000.000000,99584000000.000000,111443000000.000000,92953000000.000000,NaN
...,...,...,...,...,...
NetIncomeFromContinuingOperations,93736000000.000000,96995000000.000000,99803000000.000000,94680000000.000000,NaN

In [121]:
aapl.get_balance_sheet()

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
TreasurySharesNumber,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...
CashFinancial,27199000000.000000,28359000000.000000,18546000000.000000,17305000000.000000,NaN

### Summary Data Retrieval

In [122]:
print(aapl.get_recommendations_summary())

   period  strongBuy  buy  hold  sell  strongSell
0      0m          8   24    12     1           2
..    ...        ...  ...   ...   ...         ...
3     -3m          8   24    12     0           2

[4 rows x 6 columns]

## Multiple-tickers Retrieval

## Historical Data Retrieval

In [123]:
currencies_dl = yf.download(['EURCHF=X', 'USDEUR=X', 'GBPUSD=X'], interval='1wk')
currencies_dl.to_csv('data/currencies.csv')

[*********************100%***********************]  3 of 3 completed

In [124]:
currencies = yf.Tickers("EURCHF=X USDEUR=X GBPUSD=X")

# print(currencies.get_historical_price_data('2020-01-01','2020-12-31', 'weekly'))
historical_data = currencies.history(
    start="2020-01-01",
    end="2020-12-31",
    interval="1wk"
)
historical_data.tail()

[*********************100%***********************]  3 of 3 completed

Price                        Close                    ...   Volume           \
Ticker                    EURCHF=X GBPUSD=X USDEUR=X  ... EURCHF=X GBPUSD=X
Date                                                  ...
2020-12-02 00:00:00+00:00 1.078810 1.335738 0.825550  ...        0        0
...                            ...      ...      ...  ...      ...      ...
2020-12-30 00:00:00+00:00 1.074100 1.363066 0.813015  ...        0        0

Price
Ticker                    USDEUR=X
Date
2020-12-02 00:00:00+00:00        0
...                            ...
2020-12-30 00:00:00+00:00        0

[5 rows x 21 columns]

In [125]:
columns = (
    'EC_AdjClose', 'GU_AdjClose', 'UE_AdjClose', 'EC_Close', 'GU_Close', 'UE_Close',
    'EC_High', 'GU_High', 'UE_High', 'EC_Low', 'GU_Low', 'UE_Low',
    'EC_Open', 'GU_Open', 'UE_Open', 'EC_Volume', 'GU_Volume', 'UE_Volume',

)
df = pd.read_csv('data/currencies.csv', skiprows=3, index_col=0, parse_dates=True, names=columns)
df.columns

Index(['EC_AdjClose', 'GU_AdjClose', 'UE_AdjClose', 'EC_Close', 'GU_Close',
       'UE_Close', 'EC_High', 'GU_High', 'UE_High', 'EC_Low', 'GU_Low',
       'UE_Low', 'EC_Open', 'GU_Open', 'UE_Open', 'EC_Volume', 'GU_Volume',
       'UE_Volume'],
      dtype='object')

In [126]:
df.loc['2020'].tail()

,EC_AdjClose,GU_AdjClose,UE_AdjClose,...,EC_Volume,GU_Volume,UE_Volume
2020-11-30 00:00:00+00:00,1.081100,1.344100,0.824783,...,0,0,0
...,...,...,...,...,...,...,...
2020-12-28 00:00:00+00:00,1.079100,1.367400,0.823723,...,0,0,0

# pandas_datareader

In [127]:
from pandas_datareader import data
start_date = '2010-01-01'
end_date = '2020-12-31'

## Access to Yahoo Finance

The Yahoo Finance API has undergone changes over the years that have made the pandas_datareader method less reliable.

In [128]:
# aapl = data.DataReader('AAPL', 'yahoo', start_date, end_date)
# aapl

## Access to [EconDB](https://www.econdb.com/main-indicators?country=US&freq=Q&tab=country-profile)

Data will be crawled later

In [129]:
# oilprodus = data.DataReader('ticker=OILPRODUS', 'econdb', start_date, end_date)
# oilprodus

## Access to Fed's Fred

Still ok

In [130]:
import pandas as pd
pd.set_option('display.max_rows', 2)

gdp = data.DataReader('GDP', 'fred', start_date, end_date)
gdp

                    GDP
DATE
2010-01-01 14764.610000
...                 ...
2020-10-01 22068.767000

[44 rows x 1 columns]

In [131]:
gs10 = data.get_data_fred('GS20')
gs10

               GS20
DATE
2020-01-01 2.070000
...             ...
2024-11-01 4.630000

[59 rows x 1 columns]

## Caching Queries

In [132]:
# !pip install requests-cache

In [133]:
# yfinance handles caching automatically, so you don't need the requests_cache setup

# import datetime
# import requests_cache
# session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=datetime.timedelta(days=7))

# aapl_full_history = data.DataReader("AAPL", 'yahoo', datetime.datetime(1980, 1, 1), datetime.datetime(2020, 12, 31), session=session)
# aapl_full_history

In [134]:
# aapl_full_history.loc['2013-01-07']

# Quandl

no paid data

In [135]:
# import quandl
# import os

# quandl.ApiConfig.api_key = os.environ["QUANDL_API_KEY"]

In [136]:
# papple = quandl.get('ODA/PAPPLE_USD')
# papple

In [137]:
# aapl_fundamental_data = quandl.get_table('ZACKS/FC', ticker='AAPL')
# aapl_fundamental_data

# IEX Cloud

another paid data source

In [138]:
# from iexfinance.refdata import get_symbols
# get_symbols(output_format='pandas', token=os.environ["IEX_TOKEN"])

In [139]:
# from iexfinance.stocks import Stock
# aapl = Stock("aapl", token=os.environ["IEX_TOKEN"])
# aapl.get_balance_sheet()

In [140]:
# from iexfinance.stocks import get_sector_performance
# get_sector_performance(output_format='pandas', token=os.environ["IEX_TOKEN"])

In [141]:
# aapl.get_price()

In [142]:
# from iexfinance.stocks import get_historical_data

# get_historical_data("AAPL", start="20190101", end="20200101",output_format='pandas', token=os.environ["IEX_TOKEN"])

# MarketStack

another paid data source

In [143]:
# import requests
# import os

# params = {
#   'access_key': os.environ['MarketStack_Access_Key']
# }

# api_result = requests.get('http://api.marketstack.com/v1/tickers/aapl/eod', params)

# api_response = api_result.json()
# print(f"Symbol = {api_response['data']['symbol']}")
# for eod in api_response['data']['eod']:
#     print(f"{eod['date']}: {eod['adj_close']}")

In [144]:
# api_result = requests.get('http://api.marketstack.com/v1/exchanges/XNAS/tickers', params)

# api_response = api_result.json()

# print(f"Exchange Name = {api_response['data']['name']}")
# for ticker in api_response['data']['tickers']:
#     print(f"{ticker['name']}: {ticker['symbol']}")